html {
  /* background-color: #FEE074; */
  background-image: url("./icecream.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}


body {
  width: 70%;
  min-width: 800px;
  margin: 5% auto auto auto;
}

header h1 {
  font-size: 3em;
  color: #eba196;
  text-shadow: 0.15rem 0.1rem 0 slategrey;
  font-weight: bold;
  text-align: center;
}

br {
  display: none;
}


.container {
  display: table;
  width: 100%;
}

nav.container {
  table-layout: fixed;
  height: 2rem;
  color: #eba196;
  text-shadow: 0.1em 0.08em 0 slategrey;
  /* color: #726A95; -purple */
  /* display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-evenly;
  -ms-flex-pack: justify; */

}

nav .item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.item a {
  color: inherit;
  text-decoration: none;
}

#selected {
  color: #FEE074;
}

section .container {
  height: 20rem;
  background-color: #eba196;
  box-shadow: 0.1rem 0.1rem 0 slategrey;
}

#imgwrapper {
  display: table-cell;
  width: 40%;
  vertical-align: middle;
  margin: auto;
  text-align: center;
}

#imgwrapper:hover {
  background-image: url("./hover.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center 30%;
}

.content {
  display: table-cell;
  width: 60%;
  padding: 0% 6% 0 0;
  vertical-align: middle;
  color: darkslategrey;
}

#bold {
  font-weight: bolder;
  font-size: 1rem;
  background-color: #FEE074;
}

p {
  white-space: pre-wrap;
}

#small {
  font-size: 0.8em;
}

#select {
  font-weight: bolder;
}

.content img {
  display: inline;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#centeralign {
  width: max-content;
  margin: auto;
}

@media screen and (min-height:1100px) {
  html {
    font-size: 2.5rem;
    height: 100%;
    background-size: auto 120%;
  }
  body {
    width: 90%;
    min-width: 90%;
  }
  h1 {
    font-size: 4rem;
  }
  br {
    display: inline;
  }
  nav .item {
    font-size: 1.2rem;
  }
  section .container, #imgwrapper, .content {
    display: block;
  }
  section {
    height: auto;
    padding: 5% 0 5% 0;
  }
  #imgwrapper {
    width: 50%;
    height: 40%;
    margin:auto;
  }
  .content {
    width: 85%;
    margin: auto;
  }
  .content img {
  width: 40px;
  }
}
