html {
  background-color: #FEE074;
  font-family: sans-serif;
}

body {
  width: 70%;
  min-width: 750px;
  margin: 8% auto auto auto;

}
header h1 {
  color: #726A95;
  font-weight: bold;
  text-align: center;
}


.container {
  display: table;
  width: 100%;
}

nav.container {
  table-layout: fixed;
  height: 2rem;
  color: #726A95;
  /* display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-evenly;
  -ms-flex-pack: justify; */

}

nav .item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

section {
  height: 20rem;
  background-color: #726A95;
}

#imgwrapper {
  display: table-cell;
  width: 200px;
  vertical-align: middle;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.content {
  display: table-cell;
  width: 70%;
  box-sizing: border-box;
  padding: 5% 6% 0 6%;
  vertical-align: middle;
  color:#FEE074;
}

#bold {
  font-weight: bolder;
  font-size: 1rem;
  background-color: #FEE074;
  color: black;
  white-space: pre;
}
