html {
  background-image: url("./icecream.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Noto Sans KR', sans-serif;
}

p {
  white-space: pre-wrap;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 5% auto auto auto;
  -ms-overflow-style: none;
}

::-webkit-scrollbar { display: none; }

header h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 3.2em;
  color: #eba196;
  text-shadow: 0.15rem 0.1rem 0 slategrey;
  font-weight: bold;
  text-align: center;
}

br {
  display: none;
}

br#need {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav.container {
  height: 2rem;
  font-size: 1.2rem;
  color: #eba196;
  text-shadow: 0.1em 0.08em 0 slategrey;
}

nav .item {
  width: 25%;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  transition:all .35s;
}

nav .item:hover {
  transform: translate(0, -30%);
  transition:all .35s;
}

a {
  color: inherit;
  text-decoration: none;
}

#selected {
  color: #FEE074;
}

section .container {
  height: fit-content;
  width: 100%;
  background-color: #eba196;
  box-shadow: 0.1rem 0.1rem 0 slategrey;
  padding: 1% 0;
}

#imgwrapper {
  width: 40%;
  vertical-align: top;
  text-align: center;
}

#imgwrapper img {
  width: 65%;
  position: relative;
  top: 25px;
}

.content {
  width: 60%;
  vertical-align: middle;
  color: #303030;
  margin: auto;
}

#bold {
  font-weight: bolder;
  font-size: 1rem;
  background-color: #FEE074;
}

#small {
  font-size: 0.8em;
}

#select {
  font-weight: bolder;
}

.content p img {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 0%;
  vertical-align: middle;
}

#centeralign {
  width: fit-content;
  max-width: 90%;
  margin: auto;
}

#click {
  font-family: 'Homemade Apple', cursive;
  position: relative;
}

.likes, .study {
  text-align: center;
}

.screen {
  display: inline-block;
  width: 30%;
  position: relative;
  overflow: hidden;
}

.screen img {
  width: 95%;
  border-radius: 0%;
  box-shadow: 0.1rem 0.1rem 0 darkslategrey;
}

.description {
  text-align: center;
  width: auto;
  color: white;
  font-size: 1.5rem;
  font-weight: border;
  position: absolute;
  bottom: 150%;
  left:50%;
  transform:translateX(-50%);
  z-index: 2;
  transition: all .35s;
  white-space: pre-wrap;
}

.likes a:hover .description {
  bottom: 40%;
  transition: all .35s;
}

.likes a:hover .description#long {
  bottom: 28%;
  transition: all .35s;
}

.likes a .screen::after {
  content: '';
  display: block;
  position: absolute;
  left: 2.5%;
  top: 0;
  width: 95%;
  height: 97%;
  border-radius: 0%;
  background: rgba(50, 0, 0, 0.6);
  z-index: 1;
  opacity: 0;
  transition: all .35s;
}

a:hover .screen::after {
  opacity: 1;
}

.study img {
  width: 25%;
}

header h1 {
  animation:pop 1s ease-in-out 0s infinite alternate;
}

@keyframes pop {
0%{transform: scale(1, 1);}
100%{transform: scale(1.2, 1.2);}
}

@media screen and (min-height:1100px) {
  html {
    width: 100%;
    background-size: 300% auto;
    font-size: 2rem;
  }
  body {
    width: 90%;
    min-width: 90%;
  }
  h1 {
    font-size: 4.2rem;
    margin-bottom: 0.7rem;
  }
  br {
    display: inline;
  }
  nav .item {
    font-size: 1.2rem;
  }
  section .container, #imgwrapper, .content {
    display: block;
  }
  section .container {
    height: max-content;
    margin-bottom: 10%;
    font-size: 1rem;
  }
  #imgwrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }
  .content {
    width: 80%;
    margin: 10% auto;
  }
  #click {
    position: relative;
    top: -10px;
  }
  .description {
    color: white;
    font-size: 1rem;
  }
}
