html {
  /* background-color: #FEE074; */
  background-image: url("./icecream.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}


body {
  width: 70%;
  min-width: 800px;
  margin: 8% auto auto auto;
}

header h1 {
  color: #eba196;
  text-shadow: 0.1rem 0.1rem 0 slategrey;
  font-weight: bold;
  text-align: center;
}


.container {
  display: table;
  width: 100%;
}

nav.container {
  table-layout: fixed;
  height: 2rem;
  color: #eba196;
  text-shadow: 0.08em 0.08em 0 slategrey;
  /* color: #726A95; -purple */
  /* display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-evenly;
  -ms-flex-pack: justify; */

}

nav .item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

section {
  height: 20rem;
  background-color: #eba196;
  box-shadow: 0.1rem 0.1rem 0 slategrey;
}

#imgwrapper {
  display: table-cell;
  width: 200px;
  vertical-align: middle;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.content {
  display: table-cell;
  width: 70%;
  box-sizing: border-box;
  padding: 5% 6% 0 6%;
  vertical-align: middle;
  color: darkslategrey;
}

#bold {
  font-weight: bolder;
  font-size: 1rem;
  background-color: #FEE074;
  white-space: pre;
}
@media screen and (max-width:500px) {
  html {
    height: 100%;
    background-size: auto 120%;
  }
  body {
    width: 90%;
    min-width: 90%;
  }
  nav .item {
    font-size: 1.2rem;
  }
  section .container, #imgwrapper, .content {
    display: block;
  }
  section {
    height: auto;
    padding: 5% 0 5% 0;
  }
  #imgwrapper {
    width: 50%;
    margin:auto;
  }
  .content {
    width: 90%;
    margin: auto;
  }
}
