html {
  /* background-color: #FEE074; */
  background-image: url("./icecream.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Noto Sans KR', sans-serif;
}

p {
  white-space: pre-wrap;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 5% auto auto auto;
}

header h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 3.2em;
  color: #eba196;
  text-shadow: 0.15rem 0.1rem 0 slategrey;
  font-weight: bold;
  text-align: center;
}

br {
  display: none;
}


.container {
  display: table;
  width: 100%;
}

nav.container {
  table-layout: fixed;
  height: 2rem;
  font-size: 1.2rem;
  color: #eba196;
  text-shadow: 0.1em 0.08em 0 slategrey;
}

nav .item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

#selected {
  color: #FEE074;
}

section .container {
  height: 20rem;
  background-color: #eba196;
  box-shadow: 0.1rem 0.1rem 0 slategrey;
}

#imgwrapper {
  display: table-cell;
  width: 40%;
  vertical-align: middle;
  margin: auto;
  text-align: center;
}


#imgwrapper:hover {
  background-image: url("./hover.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center 25%;
}

.content {
  display: table-cell;
  width: 80%;
  vertical-align: middle;
  color: darkslategrey;
}

#bold {
  font-weight: bolder;
  font-size: 1rem;
  background-color: #FEE074;
}

#small {
  font-size: 0.8em;
}

#select {
  font-weight: bolder;
}

.content img {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
}

#centeralign {
  width: fit-content;
  max-width: 90%;
  margin: auto;
}

#click {
  font-family: 'Homemade Apple', cursive;
  position: relative;
  top: 5%;
}



@media screen and (min-height:1100px) {
  html {
    width: 100%;
    background-size: 300% auto;
    font-size: 2rem;
  }
  body {
    width: 90%;
    min-width: 90%;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }
  br {
    display: inline;
  }
  nav .item {
    font-size: 1.2rem;
  }
  section .container, #imgwrapper, .content {
    display: block;
  }
  section .container {
    height: max-content;
    padding-bottom: 10%;
    margin-bottom: 10%;
    font-size: 1rem;
  }
  #imgwrapper {
    height: 30vh;
    width: 80%;
    margin:auto;
  }
  #imgwrapper img {
    height: 100%;
  }
  .content {
    width: 80%;
    margin: auto;
  }
  #click {
    position: relative;
    top: -20%;
  }
}
